div.tabRoot {
  float: left;
  width: 25%;
  padding-left: 2%;
  padding-right: 2%;
  overflow: scroll;
  height: 98%;
  display: inline-block;
  padding-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}